* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden !important;
}
html, body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  overflow-x: hidden !important;
  --color-1: #700a0a;
  --color-2: #992626;
  --color-2: #c35151;
}
.header, .mainm ,footer {
  overflow-x: hidden !important;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em;
  background-image: linear-gradient(45deg, var(--color-1), var(--color-2));
}
.brand {
  display: flex;
  flex-direction: row;
}
.logo {
  height: 60px;
}
.title {
  font-family: 'Tangerine', cursive;
  font-size: 3em;
  color: #fff;
  margin: 0.2em 0 0 0;
  align-items: center;
}
.hamburger-menu {
  color: #fff;
}
.hamburger-menu:hover {
  cursor: pointer;
  opacity: 0.7;
}
.main-nav {
  display: block;
  position: absolute;
  width: 150px;
  top: 110px;
  right: 0;
  background-color: #fff;
  transform: translateX(1000px);
}
.show {
  transform: translateX(0);
  transition: all 0.5s ease;
}
.main-nav ul li {
  padding: 1em;
  list-style-type: none;
  border-bottom: solid 1px var(--color-1); 
}
.main-nav ul li:last-child {
  border-bottom: none;
}
.main-nav ul li a {
  color: var(--color-1);
  text-decoration: none;
}
.main-nav ul li a:hover {
  color: var(--color-2);
}